
    body {
        background-image: url('pexels-stywo-1054218.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 200vh;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
}
.container {
    
    background-color: #42bad8;
    border-radius: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px;
}

h2 {
    text-align: center;
    color: #333;
}

.input-container, .select-container {
    margin-bottom: 10px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"], select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 10px;
    padding: 10px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 4px;
}